<form method="post" action="somepage">
  <textarea name="content">
&lt;h2&gt; 感谢您使用长微薄工具! &lt;/h2&gt;
&lt;p&gt;
Feel free to try out the different features that are provided, please no
te that the MCImageManager and MCFileManager specific functionality is part of our commercial offering. The demo is to show the integration.&lt;/p&gt;
&lt;p&gt;We really recommend &lt;a href="http://www.getfirefox.com" target="_blank"&gt;Firefox&lt;/a&gt; as the primary browser for the best editing experience, but of course, TinyMCE is &lt;a href="../wiki.php/Browser_compatiblity" target="_blank"&gt;compatible&lt;/a&gt; with all major browsers.&lt;/p&gt;

&lt;h3&gt; 需要帮助? &lt;/h3&gt;
&lt;p&gt;If you have questions or need help, feel free to visit our &lt;a href="../forum/index.php"&gt;community forum&lt;/a&gt;! We also offer Enterprise &lt;a href="../enterprise/support.php"&gt;support&lt;/a&gt; solutions. Also do not miss out on the &lt;a href="../wiki.php"&gt;documentation&lt;/a&gt;, its a great resource wiki for understanding how TinyMCE works and integrates.&lt;/p&gt;

&lt;h3&gt; 有不满或建议? &lt;/h3&gt;
&lt;p&gt;If you think you have found a bug, you can use the &lt;a href="../develop/bugtracker.php"&gt;Tracker&lt;/a&gt; to report bugs to the developers.&lt;/p&gt;
&lt;p&gt;Enjoy our software and create great content!&lt;/p&gt;
&lt;p&gt;Oh, and by the way, don't forget to check out our other product called &lt;a href="http://www.plupload.com" target="_blank"&gt;Plupload&lt;/a&gt;, your ultimate upload solution with HTML5 upload support!&lt;/p&gt;
  </textarea>
</form>
