/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.header{
  margin-left: 60px;
  height: 201px;
  .span8{
  	padding-top: 40px;
    .sina-g{
        
    }
    .imgad{
      padding-top: 8px;
    }
  }
}
.body{
  margin-left: 100px;
  height: 410px;
  .cwbTxtWrapper {
    width: 466px;
    height: 452px;
    padding: 2px;
    background: url(/assets/cwbTxtarea_bg.png) no-repeat 0px 0px;
    position: relative;

    .cwbTxtarea {
        resize: none;
        outline: none;
        border: 1px #CCC solid;
        width: 440px;
        height: 400px;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 30px;
        margin-left: 5px;
        font-size: 15px;
        line-height: 1.6;
        color: #555;
        // background: url(/assets/cwbTxtarea_bg.png) no-repeat 0px 0px;
    }
  }
  .more_selcet{
    border-top: 1px #D8D8D8 dashed;
    padding-top:15px;
    margin-top: 15px;
    .cwbConOther .text-input {
      padding: 1px;
      font-size: 12px;
      background: white url('/assets/bg-form-field.gif') top left repeat-x;
      border: 1px solid #D5D5D5;
      color: #333;
      border-image: initial;
      border-radius: 2px;
    }
    dt{
      float: left;
    }
    dd{
      padding-bottom: 15px;
      margin-bottom: 0px;
    }
    dd input{
      margin-right: 10px;
    }
    dd input.m_rad {
        margin-left: 10px;
        margin-right: 5px;
        cursor: pointer;
    }
    dd input.m_txt {
      width: 225px;
      padding: 1px;
    }
    dt,dd{
        color: #333;
        font: 12px/20px "microsoft yahei","微软雅黑",Tahoma,Microsoft YaHei,Verdana,Arial,Helvetica,sans-serif,SimSun;
    }
    .b, .strong {
      font-weight: bold;
    }
    label {
     float:left; 
     clear:none; 
     display:block; 
    }
  }

.share_bg {
    height: 99px;
    background: url(/assets/share_bg.png) no-repeat;
    width: 451px;
    padding: 4px 0px 0px 21px;
    margin-top: 20px;
    p.title {
      font-size: 16px;
    }
    p{
      margin: 2px 0px;
      height: 20px;
    }
    * {
       color: #FFF;
    }
    .cboth, .clear, .c {
      font-size: 12px;
    }
    #bdshare {
       margin-left: -4px;
    }
}
#imgUploadCon{
  margin-top: 10px;
  dt {
  margin-top: 8px;
  float: left;
}
} 
  .cwbDefaultWrapper{
    height: 452px;
    margin-top: 250px;
    margin-right: 180px;
    position: absolute;
    right:0px;
    top:33px;
    width:468px;
    .zhButton{
      border:none;
      width:195px;
      height:47px;
      margin-left: 0px;
      background: url(/assets/btn_zh_sprite.png) no-repeat 0px 0px;
      cursor:pointer;
    }
    .zhButton:hover {
      background-position: 0px -47px;
    }
  }
}
.btm_lable {
  margin-top: 40px;
  background: url(/assets/btm_lable.png) no-repeat center;
  width: 980px;
  height: 57px;
}
.btm_info{
  background:url(/assets/btm_wanna_cwb.png) no-repeat top center;
  margin: 0px auto;
  // width: 980px;
  height: 268px;
}

